.yt-graph-hover-popup {
    --top: var(--yt-graph--hover-popup-geometry-y, 0);
    --left: calc(var(--yt-graph--hover-popup-geometry-x, 0) + var(--yt-graph--hover-popup-geometry-width, 0));
    transform: translate3d(var(--left, 0), var(--top, 0), 0) scale(var(--scale));
}
