.empty-placeholders-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    gap: 15px;

    &__icon {
        height: 150px;
    }
}
