.popup-with-close-button {
    .g-popup__content {
        position: relative;
        border-radius: var(--g-border-radius-l);
    }

    &__close-button {
        position: absolute;
        top: 16px;
        right: 16px;
    }
}
