.export-edit-tab-field {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 240px;
    min-height: 450px;

    &__add-export {
        flex-shrink: 0;

        display: flex;
        align-items: center;

        padding: 20px 16px 10px 24px;
        font-size: var(--g-text-subheader-3-font-size);

        &-label {
            flex-grow: 1;
        }
    }

    &__exports {
        flex-grow: 1;
        flex-shrink: 1;
        border-bottom: 1px solid var(--light-divider);
        width: 225px;
        &-item {
            flex-grow: 1;
            display: flex;
            align-items: center;
            overflow: hidden;

            &-node {
                flex-grow: 1;
                flex-shrink: 1;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
