$section-offset: 20px;
$section-main-padding-horizontal-fullscreen: 10px;

/* FONTS */
$yt-font: 'Manrope', 'Helvetica Neue', helvetica, arial, sans-serif;
$yt-monospace-font: 'RobotoMono', monospace;
