.bundle-editor {
    &__dialog {
        .df-dialog_with_vertical_tabs {
            height: 60vh;
        }

        .yc-list__item_selected {
            background: none;
        }

        .df-dialog__tabs-content {
            overflow-y: auto;
            overflow-x: hidden;
        }

        .yc-dialog-divider {
            margin: 0;
        }

        .df-dialog__error-message {
            white-space: pre;
        }

        .df-dialog__field-group_type_bundle-title {
            .df-dialog__label-text {
                font-weight: 700;
            }
        }
    }

    &__info {
        margin-bottom: var(--yc-text-subheader-3-line-height);
    }
}
