.yt-chart-field-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: 32px;
    margin-top: 4px;

    $self: &;

    background-color: var(--g-color-base-misc-light);

    &:hover {
        background-color: var(--g-color-base-simple-hover);

        #{$self}__actions {
            visibility: visible;
        }
    }

    &__spacer {
        display: flex;
        margin-left: 12px;
    }

    &__title {
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 8px;
    }

    &__actions {
        visibility: hidden;
    }
}
