.detail-table-cell {
    &_versioned {
        margin-top: -7px;
        margin-bottom: -6px;
    }

    &__value {
        &_diff_plus {
            color: var(--danger-color);
        }
        &_diff_minus {
            color: var(--success-color);
        }
    }

    &__alert-icon {
        height: 14px;
    }
}
