@use '../../styles/fonts';
@use '../../styles/mixins';
@use '../../styles/common';

.maintenance {
    width: 100%;
    padding-top: 80px;
    box-sizing: border-box;
    color: var(--primary-text);

    &__content {
        max-width: common.$width-large-screen;
        margin: 0 auto;
        padding: 0 80px;
        display: flex;
        align-items: center;

        @media (min-width: common.$width-medium-screen) {
            padding: 0 120px;
        }

        @media (min-width: common.$width-large-screen) {
            padding: 0 240px;
        }
    }

    &__info {
        max-width: 504px;
    }

    &__title {
        @include mixins.heading-size(l);
        font-weight: var(--yt-font-weight-bold);
        max-width: 350px;
        margin-bottom: 8px;
    }

    &__severity {
        font-weight: var(--yt-font-weight-bold);
        margin: 0;
        margin-bottom: 28px;

        span:last-child {
            margin-left: 4px;
        }

        &_type_minor {
            color: var(--info-text);
        }

        &_type_major {
            color: var(--danger-text);
        }
    }

    &__user-title {
        @include mixins.heading-size(s);
        font-weight: var(--yt-font-weight-bold);
        margin: 0;
        margin-bottom: 8px;
    }

    &__user-description {
        font-size: 16px;
        margin: 0;
        margin-bottom: 32px;
    }

    &__time-line {
        font-weight: var(--yt-font-weight-bold);
        margin: 0;
        margin-bottom: 12px;
    }

    &__author {
        margin-bottom: 60px;
    }

    &__links {
        @include mixins.reset-ul();
        display: flex;
    }

    &__link {
        @include mixins.reset-li();
        margin-right: 24px;

        &:last-child {
            margin-right: 0;
        }
    }
}
