@use '../../styles/mixins';
@use '../../styles/common';

.maintenance {
    width: 100%;
    padding-top: 80px;
    box-sizing: border-box;
    color: var(--primary-text);

    &__content {
        max-width: common.$width-large-screen;
        margin: 0 auto;
        padding: 0 80px;

        @media (min-width: common.$width-medium-screen) {
            padding: 0 120px;
        }

        @media (min-width: common.$width-large-screen) {
            padding: 0 240px;
        }
    }

    &__info {
        max-width: 504px;
        margin-bottom: 60px;
    }

    &__links {
        @include mixins.reset-ul();
        display: flex;
    }

    &__link {
        @include mixins.reset-li();
        margin-right: 24px;

        &:last-child {
            margin-right: 0;
        }
    }
}
