.elements-column {
    &_type {
        &_id {
            display: inline-flex;
            align-items: center;
            max-width: 100%;
        }
    }
}

.template-utils {
    &__clickable-column-tooltip {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
