.navigation-table {
    $self: &;
    padding-top: 10px;

    .collapsible-section {
        margin-top: 0;
    }

    &__fullscreen:fullscreen {
        background-color: var(--main-background);
    }

    &__toolbar {
        &_fullscreen {
            position: fixed;
            top: 10px;
            left: 10px;
            width: calc(100vw - 20px);
        }
    }
}
