.navigation-top-row-content {
    &__favourites {
        padding-right: 15px;
    }

    &__restore {
        padding-left: 1ex;
    }

    &__path-editor {
        margin-left: 16px;
        flex-grow: 1;
    }

    &__tools {
        flex-shrink: 0;
        white-space: nowrap;
        padding-left: 1ex;

        display: flex;
        align-items: center;
    }
    &__transaction {
        display: flex;
        align-items: center;
    }
}
