.operation-pools-weights {
    &__error {
        margin-top: 16px;
    }

    &__title {
        width: 100%;
    }

    &__title-suffix {
        font-size: var(--g-text-body-2-font-size, 13px);
        line-height: var(--g-text-body-2-line-height, 18px);
        font-weight: 400;
        color: var(--secondary-text);
    }
    
    &__tree-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__tree-label {
        font-weight: 600;
    }
}
