@import '../../../styles/common';

.system {
    &__racks {
        display: flex;
        flex-wrap: wrap;

        margin-left: - $rack-offset;
        margin-right: - $rack-offset;

        &_size_l {
            margin-left: - $rack-offset-l;
            margin-right: - $rack-offset-l;
        }

        &_size_xl {
            margin-left: - $rack-offset-xl;
            margin-right: - $rack-offset-xl;
        }
    }

    &__rack {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        margin: 5px 0;
        padding: $rack-offset;

        cursor: pointer;

        &-counters,
        &-name {
            font-size: 12px;

            text-transform: uppercase;
        }

        &-name {
            display: block;
            margin-bottom: 5px;
        }

        &-counters {
            width: $rack-width;

            line-height: 1.3em;
        }

        &-counter {
            display: flex;
            justify-content: space-between;

            &_secondary_yes {
                color: var(--secondary-text);
            }
        }

        &-nodes {
            flex-grow: 1;
            line-height: 10px;

            width: $rack-width;
            min-height: $rack-height;

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        &_size_m:not(&_name_unaware) &-nodes .system__node {
            &:nth-child(6n) {
                margin-right: 0;
            }

            &:nth-child(6n + 1) {
                margin-left: 0;
            }
        }

        &_name_unaware {
            width: 100%;
        }

        &_name_unaware &-nodes {
            width: auto;
            margin-left: -2px;
            min-height: initial;
        }

        &-wrapper {
            margin: $rack-offset;
            padding: $rack-offset;

            transition: background-color 0.2s;

            &:hover {
                background-color: var(--hover-background);
            }
        }

        &-wrapper {
            display: flex;
            flex-direction: column;
        }

        &-wrapper & {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 0;
        }

        &-wrapper &-nodes {
            flex-grow: 1;
            flex-shrink: 0;
        }

        &_size_l {
            margin-left: - $rack-offset;
            margin-right: - $rack-offset;
        }

        &_size_xl {
            margin-left: - $rack-offset;
            margin-right: - $rack-offset;
        }

        &_size_l &-nodes {
            width: $rack-width-l;
            min-height: initial;
        }

        &_size_xl &-nodes {
            width: $rack-width-xl;
            min-height: initial;
        }

        &_size_l &-nodes .system__node {
            &:nth-child(18n) {
                margin-right: 0;
            }

            &:nth-child(18n + 1) {
                margin-left: 0;
            }
        }

        &_size_xl &-nodes .system__node {
            &:nth-child(60n) {
                margin-right: 0;
            }

            &:nth-child(60n + 1) {
                margin-left: 0;
            }
        }


        &:not(&_size_l):hover {
            background-color: var(--hover-background);
        }
    }
}
