.file-drop-zone {
    &__drag-area {
        align-items: center;
        background-color: var(--g-color-base-simple-hover);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 200px;
    }

    &__info {
        text-align: center;
    }
}
