@use '../../styles/mixins';

.collapsible-list {
    &__list {
        @include mixins.reset-ul();

        &_use-flex {
            display: flex;
            flex-wrap: wrap;
        }

        li {
            @include mixins.reset-li();
        }
    }
}
