.data-table-wrapper {
    margin-top: 20px;
    position: relative;

    .data-table {
        &__row {
            &__td:not(&__index):not(&__no-data) {
                padding: 0;
            }
        }
    }

    &_fullscreen {
        margin-top: 50px;
        padding: 0 10px;
        width: 100vw;
        height: calc(100vh - var(--app-header-height) - var(--app-footer-height));
        overflow: auto;
    }

    &_loading {
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &_updating {
        .data-table {
            opacity: 0; // save scroll bar
        }
    }

    &__updating-loader {
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 200px;
        transform: translateX(-50%);
    }

    .data-table__th:last-child::before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        position: absolute;
        right: 0;
        margin-right: -10px;
    }
}
