@use '../../../styles/mixins.scss';

.accounts-top-row-content {
    &__breadcrumbs {
        @include mixins.top-row-breadcrumbs();
        min-width: 160px;
    }

    &__actions {
        display: flex;
        align-items: center;
        padding-left: 10px;
    }

    &__create {
        flex-shrink: 0;
        padding-left: 1ex;
    }

    &__abc-link {
        padding: 0 1ex;
    }
}
