@import '../../../../styles/common';

.operations-list {
    &__toolbar-wrap {
        min-height: 126px;
    }

    &__toolbar {
        border-bottom: 2px solid var(--light-divider);

        &.yt-sticky-container__sticky {
            position: fixed;
            left: var(--gn-aside-header-size);
            margin: 0;
        }

        &-text-filter {
            flex: 1 0 260px;

            display: flex;
        }

        &-user-filter {
            & .yt-select,
            & .suggest {
                width: 260px;
            }
        }

        &-access-filters {
            display: flex;
            align-items: center;

            & .yt-select,
            & .suggest {
                width: 160px;
            }
        }
    }

    &__toolbar-pool-filter {
        display: flex;
    }

    &__only-jobs-with-failed-counter {
        font-weight: var(--yt-font-weight-bold);
    }
}
