.operation-pool {
    display: flex;
    align-items: center;
    margin-right: 10px;

    $self: &;

    &__pool-edit {
        margin: -5px 0;
        margin-left: 4px;
    }

    &__pool-edit_detachable {
        display: none;
    }

    &__pool-edit_visibility_by-hover {
        visibility: hidden;
    }

    &:hover {
        #{$self}__pool-edit {
            visibility: unset;
        }

        #{$self}__pool-edit_detachable {
            display: unset;
        }
    }

    &__pool-link {
        margin-left: 5px;

        &_no-icon {
            margin-left: 0;
        }
    }

    &__pool-tree {
        margin-left: 5px;
        margin-right: 5px;

        &-name_erased {
            text-decoration: line-through;
        }
    }
}
