.yt-prometheus-dashkit {
    .dashkit-item__renderer {
        & > * {
            width: 100%;
            height: 100%;

            border: 1px solid var(--dark-divider);
            border-radius: 6px;
        }
    }
}
