.editable-as-text {

    &__control {
        margin-right: 8px;
        &:last-child {
            margin-right: 0;
        }
        &_type {
            &_edit {
                margin-left: 8px;
            }
        }
    }

    &_controls {
        display: flex;
        align-items: center;
    }
}
