.editable-as-text {
    &__icon {
        display: inline-block;
        padding-left: 1ex;

        &:hover {
            cursor: pointer;
            color: var(--hover-link);
        }
    }

    &__control {
        margin-right: 8px;
    }
}
