.queries-list {
    flex: 1;

    max-width: 100%;

    display: flex;
    flex-direction: column;

    &__tabs {
        padding: 0 12px;
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    &__filter {
        padding: 12px 12px 0;
        margin-bottom: 8px;
    }

    &__list-content {
        flex: 1;
    }
}
