.queries-list {
    flex: 1;

    max-width: 100%;

    display: flex;
    flex-direction: column;

    &_new {
        min-height: 0;
        min-width: 0;
    }

    &__sidebar {
        flex: 1;
    }

    &__sidebar-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 0;
        min-width: 0;
    }

    &__tabs {
        padding: 0 12px;
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }

    &__filter {
        padding: 12px 12px 0;
        margin-bottom: 8px;
    }

    &__list-content {
        flex: 1;
    }

    &__new-history {
        flex: 1;
        min-height: 0;
    }

    &__new-tutorials {
        flex: 1;
        min-height: 0;
    }
}
