.yc-timeline-ruler {
    --tl-side-padding-width: 20px;

    display: flex;
    overflow: hidden;
    align-items: center;
    padding: 0 var(--tl-side-padding-width);

    &__zoom {
        display: flex;
        flex: 0 0 auto;
        margin-right: 10px;
    }

    &__ruler {
        flex: 1 1 auto;
        overflow: hidden;
        position: relative;
        cursor: move;
    }

    &__zoom-button {
        width: 36px;
    }

    &__now-button {
        margin-left: 6px;
        margin-right: -6px;
    }
}
