@use 'constants';

.edit-text-with-preview {
    display: flex;
    flex-direction: column;
    position: relative;

    min-height: 100px;

    &__left {
        height: calc(100% - #{constants.$tabbed-content-header-height});
        display: flex;
    }

    &__monaco {
        flex-grow: 1;
        width: 100%;
    }

    .Resizer {
        width: 10px;
        cursor: col-resize;
    }

    .Pane {
        min-width: 0;
    }

    &__panel {
        height: 100%;

        &_growable {
            flex-grow: 1;
        }
    }

    &__markdown {
        overflow: auto;
        padding: 0 1ex;
    }
}
