.query-result-visualization {
    height: 100%;
    display: flex;
    gap: 0 20px;
    border-bottom: 1px solid var(--g-color-line-generic);

    &__loading {
        height: 100%;
        width: 100%;
    }

    &__loader-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__chartkit-wrapper {
        min-height: 200px;
        width: 100%;
    }

    &__menu {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__group-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:first-child {
            padding-top: 0px;
        }

        padding-top: 8px;
    }
}
