.yt-timeline {
    display: flex;
    align-items: center;

    &__picker {
        flex-shrink: 0;
    }

    &__ruler {
        flex-grow: 1;
        flex-shrink: 1;
    }
}

.with-sticky-toolbar__toolbar_sticky {
    .yt-timeline {
        position: relative;
        top: 4px;
    }
}
