.pool-suggest-control {
    $popupMaxHeight: 35vh;

    &__popup {
        max-height: $popupMaxHeight;
        overflow: hidden;

        .yc-list__items {
            max-height: $popupMaxHeight;
        }

        .yc-suggest__item {
            padding-left: 1em;
        }
    }
}
