@use '../../../../styles/mixins';

.components-proxies {
    &__filters {
        display: flex;
        align-items: center;
    }

    &__filter {
        width: 200px;
        margin-right: 20px;

        &_host {
            width: 320px;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__table {
        table-layout: fixed;
    }

    &__table-item {
        &_type {
            &_host {
                width: 400px;
            }

            &_state,
            &_banned {
                width: 60px;
            }

            &_role {
                width: 80px;
            }

            &_version {
                width: 200px;
            }

            &_load-average,
            &_network-load,
            &_updated-at {
                width: 120px;
            }

            &_actions {
                width: 90px;
            }
        }
    }
}
