.yt-monaco-editor {
    $self: &;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    &__editor {
        flex-grow: 1;
        width: 100%;
        height: 100%;
    }

    &__line-number {
        float: right;
        cursor: pointer;
        opacity: 0.6;

        &:hover {
            opacity: 1;
        }
    }

    &__highlighted-line {
        background: #bb800926;
        border: 1px solid #bb800966;
    }

    &__status {
        padding: 0 20px;
        border-bottom: 1px solid var(--dark-divider);
    }

    &_vim-mode {
        #{$self}__editor {
            height: calc(100% - 20px);
        }
    }
}
