@import '../../../styles/common';
@import '../../../styles/mixins';

.switch-leader {
    &__address {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}