.navigation-header {
    --cluster-button-width: 24px;
    --hader-actions-width: 128px;
    --total-gaps-width: 16px;

    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 2px 10px 8px;

    &__path-wrap {
        display: grid;
        grid-template-columns: var(--cluster-button-width) calc(100% - var(--cluster-button-width) - var(--hader-actions-width) - var(--total-gaps-width)) var(--hader-actions-width);
        align-items: center;
        gap: 0 8px;
    }
}
