.query-container {
    width: 100%;
    height: 100%;
    overflow: visible;
    display: flex;
    flex-direction: column;

    &__loading {
        position: absolute;
        z-index: 1000;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0, 0.1);
        display: flex;
        justify-content: center;
    }

    &_minimized .flex-split__pane:nth-child(3) {
        flex: initial;
        /* In order to override flex basis from split component */
        flex-basis: initial !important;
    }

    &_full .flex-split__pane:nth-child(1) {
        /* In order to override flex basis from split component */
        flex-basis: initial !important;
    }
}
