.query-container {
    width: 100%;
    height: 100%;
    overflow: visible;
    display: flex;
    flex-direction: column;

    &__loading {
        position: absolute;
        z-index: 1000;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0, 0.1);
        display: flex;
        justify-content: center;
    }

    &_minimized .flex-split__pane:nth-child(3) {
        flex: initial;
        /* In order to override flex basis from split component */
        flex-basis: initial !important;
    }

    &_full .flex-split__pane:nth-child(1) {
        flex: initial;
        /* In order to override flex basis from split component */
        flex-basis: initial !important;
    }

    &__query {
        width: 100%;
        height: 100%;
        overflow: visible;
    }

    &__results {
        flex: 1;
    }

    &__editor {
        flex: 1;
        border-bottom: 1px solid var(--dark-divider);
        width: 100%;
        height: calc(100% - 40px);
        overflow: visible;
    }

    &__actions {
        padding: 6px 20px;
        display: flex;
        flex-direction: row;
        background: var(--main-background);

        .query-run-action {
            display: flex;
            padding-right: 12px;
            margin-right: 12px;
        }
    }

    &__error-line {
        background: var(--error-background);
    }
}
