.yt-flow-computation-partitions {
    &__id-filter {
        width: 400px;
    }

    &__state-icon {
        margin-bottom: -2px;
    }

    &__state-text {
        text-transform: capitalize;
    }
}
