.yt-plan-timeline {
    &__body {
        display: grid;
        grid-template-columns: 420px 1fr;
    }

    &__list {
        padding-right: 12px;
        border-right: 1px solid var(--g-color-line-generic);
    }
}
