.timeline {
    display: flex;
    flex-direction: column;

    height: 100%;
    &__content-wrapper {
        display: flex;
        overflow: hidden;
        align-items: flex-start;

        height: 100%;
    }

    &__aside-header {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        height: 100%;
        max-height: 100%;

        border-right: 1px solid var(--g-color-line-generic);
    }

    &__aside-item {
        &_expanded {
            font-weight: 600;
        }
        .node-name__name {
            overflow: hidden;

            white-space: nowrap;

            *:not(:last-child) {
                margin-right: 4px;
            }

            .yc-link {
                overflow: hidden;

                text-overflow: ellipsis;
            }
        }
        .node-name__operation-node-info {
            height: 16px;
            span {
                display: flex;
            }
        }
    }

    &__event-name {
        overflow: hidden;

        white-space: nowrap;
        text-overflow: ellipsis;

        color: var(--g-color-text-secondary);
    }

    &__container {
        position: relative;

        display: flex;
        overflow: hidden;
        flex-grow: 1;
        flex-direction: column;

        height: 100%;
    }

    &__ruler-wrapper {
        flex-grow: 1;
    }

    &__timeline {
        flex-grow: 1;
    }

    &__node-name {
        justify-content: flex-end;
    }

    &__node-status {
        display: flex;
        align-items: center;

        &-icon {
            width: 13px;
            aspect-ratio: 1;

            margin-right: 6px;

            border-radius: 3px;

            &_state {
                &_not_started {
                    background: var(--yql-graph-color-operation-new);
                }
                &_started {
                    background: var(--yql-graph-color-operation-pending);
                }
                &_in_progress {
                    background: var(--yql-graph-color-operation-running);
                }
                &_finished {
                    background: var(--yql-graph-color-operation-completed);
                }
                &_failed {
                    background: var(--yql-graph-color-operation-failed);
                }
                &_aborted {
                    background: var(--yql-graph-color-operation-aborted);
                }
            }
        }
    }

    &__table {
        position: relative;

        .table__table {
            overflow-x: hidden;
        }
    }

    &__filters {
        display: grid;
        grid-auto-columns: max-content;
        grid-auto-flow: column;
        grid-gap: 12px;

        margin-bottom: 10px;

        &-search {
            width: 300px;
        }
    }
}
