.chyt-page-list-table {
    &__one-row-cell {
        margin-top: 8px;
        display: inline-block;
    }

    &__creator {
        width: 180px;
    }

    &__pool {
        width: 300px;
    }

    &__health {
        display: inline-flex;
        align-items: center;
    }

    &__full-width {
        max-width: 100%;
    }

    &__warn-icon {
        top: -1px;
    }
}
