.graph {
    position: relative;

    width: 100%;
    min-width: 50px;
    height: 100%;
    min-height: 50px;

    &__graph {
        width: 100%;
        height: 100%;

        & > :first-child {
            outline: none;
        }
    }

    &__graph {
        min-width: 50px;
        min-height: 50px;
    }

    &__minimap-wrapper {
        position: absolute;
        bottom: 20px;
        left: 20px;
    }

    &__toolbar {
        position: absolute;
        right: 20px;
        bottom: 20px;

        display: grid;
        grid-gap: 10px;

        padding-bottom: 38px;

        &-button {
            background: var(--yc-color-base-background);
        }
    }

    &__legend {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .vis-tooltip {
        position: absolute;

        display: none;

        padding: 6px 12px;

        color: var(--yc-color-text-light-primary);
        border-radius: 4px;
        background-color: var(--yc-color-base-float-heavy);
    }

    &_show-tooltip {
        .vis-tooltip {
            display: block;
        }
    }
}
