@use './styles/mixins.scss';

.node-stages {
    overflow: auto;

    .data-table {
        --data-table-color-base: var(--g-color-base-float);
        --data-table-border-color: var(--g-color-base-float);

        th {
            @include mixins.sticky-data-table-head();
        }
    }

    &__footer {
        font-weight: var(--yt-font-weight-bold);

        td {
            position: sticky;
            bottom: 0;

            background: var(--g-color-base-float);
        }
    }
}
