.yql-node-schemas {
    &__item_schema + &__item_schema {
        margin-top: 4px;
    }

    &__item-heading {
        word-break: break-all;
    }

    &__item .g-collapse__arrow-wrapper {
        align-self: flex-start;
    }

    &__item_title {
        margin-top: 0;
        .elements-heading {
            margin-bottom: 4px;
        }
    }

    &__item_schema {
        .elements-heading {
            color: var(--g-color-text-secondary);
        }
    }

    &__item_schema:nth-child(1) {
        margin-top: 0;
    }
}
