@use '../../../styles/yql-colors';

.plan {
    width: 100%;
    height: 100%;

    &__graph,
    &__table {
        width: 100%;
        height: 100%;
    }

    &__table {
        padding: 0 20px;
    }
}
