.yc-root {
    // Node operation styles
    --yql-graph-color-operation-new: var(--yc-color-base-simple-hover);
    --yql-graph-color-operation-new-border: var(--yc-color-line-generic-active);
    --yql-graph-color-operation-new-background: var(--yc-color-base-generic-ultralight);
    --yql-graph-color-operation-pending: var(--yc-color-base-warning-heavy);
    --yql-graph-color-operation-completed: var(--yc-color-base-positive-heavy);
    --yql-graph-color-operation-completed-border: var(--yc-color-line-positive);
    --yql-graph-color-operation-completed-background: var(--yc-color-base-positive);
    --yql-graph-color-operation-running: var(--yc-color-base-info-heavy);
    --yql-graph-color-operation-running-border: var(--yc-color-line-selection-active);
    --yql-graph-color-operation-running-background: var(--yc-color-base-info-light);
    --yql-graph-color-operation-aborted: var(--yc-color-base-misc-heavy);
    --yql-graph-color-operation-aborted-border: var(--yc-color-line-misc);
    --yql-graph-color-operation-aborted-background: var(--yc-color-base-misc);
    --yql-graph-color-operation-started: var(--yc-color-base-simple-hover);
    --yql-graph-color-operation-started-border: var(--yc-color-line-selection-active);
    --yql-graph-color-operation-started-background: var(--yc-color-base-generic-ultralight);
    --yql-graph-color-operation-failed: var(--yc-color-base-danger-heavy);
    --yql-graph-color-operation-failed-border: var(--yc-color-line-danger);
    --yql-graph-color-operation-failed-background: var(--yc-color-base-danger);
    // Node table styles
    --yql-graph-color-table-fill1: var(--yc-color-text-secondary);
    --yql-graph-color-table-fill2: var(--yc-color-text-hint);
    // Edge styles
    --yql-graph-color-edge: var(--yc-color-line-generic-active);
    --yql-graph-color-edge-highlight: var(--yc-color-infographics-info-heavy);
    // Text
    --yql-graph-color-text-operation-count: var(--yc-color-text-primary);
    --yql-graph-color-text-label: var(--yc-color-text-complementary);
    --yql-graph-color-text-link: var(--yc-color-text-link);
}

.plan {
    width: 100%;
    height: 100%;

    &__graph,
    &__table {
        width: 100%;
        height: 100%;
    }

    &__table {
        padding: 0 20px;
    }

    &__graph-info {
        padding: 0 20px 20px;

        &-button {
            margin-top: 16px;
        }
    }

    &__legend {
        margin-top: 16px;
    }
}
