@import '../../../styles/yql-colors';

.plan {
    width: 100%;
    height: 100%;

    &__graph,
    &__table {
        width: 100%;
        height: 100%;
    }

    &__table {
        padding: 0 20px;
    }

    &__graph-info {
        padding: 0 20px 20px;

        &-button {
            margin-top: 16px;
        }
    }

    &__legend {
        margin-top: 16px;
    }
}
