.yt-error-tree-node {
    &_leaf {
        margin-left: 28px;
    }

    &__errors {
        padding-left: 28px;
    }

    &__error-body {
        margin: 0 0 10px;
        padding: 0 10px 0 0;
    }

    &__line {
        display: flex;
        align-items: flex-start;
    }

    &__place-text {
        display: inline-block;
        padding-right: 10px;
        text-align: left;
        color: var(--g-color-text-secondary);
    }

    &__message {
        display: flex;
        margin-right: auto;
        margin-left: 10px;
        padding: 3px 0;
        font-family: var(--g-font-family-monospace);
        font-size: var(--g-text-code-2-font-size);
        line-height: var(--g-text-code-2-line-height);
    }

    &__message-text {
        flex: 1 1 auto;
        min-width: 240px;
        white-space: pre-wrap;
        word-break: break-word;
    }

    &__code {
        flex: 0 0 auto;
        margin-left: 1.5em;
        padding: 3px 0;
        font-size: 12px;
        color: var(--g-color-text-complementary);
    }

    &__header {
        display: flex;
        align-items: center;
        line-height: 28px;
        white-space: nowrap;
        color: var(--g-color-text-danger);
    }

    &__icon {
        color: var(--g-color-text-danger);
    }

    &__title {
        margin-left: 4px;
        text-transform: capitalize;
        color: var(--g-color-text-complementary);
    }
}
