@use '../../../styles/mixins';

.system {
    &__schedulers-agents {
        display: flex;
        flex-wrap: wrap;
    }

    &__schedulers-hosts,
    &__agents-hosts {
        display: grid;
        grid-gap: 8px 40px;
        grid-auto-flow: column;

        margin-bottom: 18px;
        margin-top: 8px;
    }

    &__scheduler {
        display: grid;
        grid-template-columns: 14px 100px 30px minmax(150px, 380px);
        grid-gap: 12px;
    }

    &__scheduler-host {
        display: grid;
        grid-template-columns: minmax(0, min-content) 25px 25px;
        grid-gap: 0 4px;

        &-address {
            flex: 0 1 auto;
            @include mixins.ellipsis();
        }

        &-btn {
            margin-top: -3px;
            visibility: hidden;
        }

        &:hover &-btn {
            visibility: visible;
        }
    }

    &__maintenance {
        justify-self: end;
        color: var(--secondary-text);
    }
}
