.yt-max-content-width {
    &_size_standard {
        max-width: 1400px;
        margin: 0 auto;

        --yt-with-sticky-toolbar-fixed-max-width: 1400px;
    }

    &_size_wide {
        max-width: 1800px;
        margin: 0 auto;

        --yt-with-sticky-toolbar-fixed-max-width: 1800px;
    }
}
