@use '../../styles/mixins.scss';

.chyt-page-top-row {
    &__create-clique {
        padding-left: 1em;
    }

    &__alias-suggest {
        min-width: 200px;
    }

    &__breadcrumbs {
        @include mixins.top-row-breadcrumbs();
    }

    &__create-dialog {
        .df-dialog {
            min-height: 280px;
        }
    }
}
