.chyt-page-top-row {
    &__create-clique {
        padding-left: 1em;
    }

    &__breadcrumbs {
        margin-left: 10px;
    }

    &__alias-suggest {
        min-width: 200px;
    }

    &__create-dialog {
        .df-dialog {
            min-height: 280px;
        }
    }
}
