.chyt-page-top-row {
    &__create-clique {
        flex-shrink: 0;
        padding-left: 1em;
    }

    &__breadcrumbs {
        display: flex;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 0;
    }

    &__editable {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding: 0 1ex;
    }

    &__alias-suggest {
        min-width: 200px;
    }

    &__create-dialog {
        .df-dialog {
            min-height: 280px;
        }
    }
}
