.query-files-popup {
    width: 640px;
    &__header {
        display: flex;
        align-items: center;
        gap: 5px;
    }
    &__footer {
        display: flex;
        gap: 10px;
    }

    &__file-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 10px;
    }

    &__file-item {
        padding: 10px 0;
        width: 100%;
        height: 48px;
        display: grid;
        grid-template-columns: 1fr min-content;
        align-items: center;
        gap: 10px;
        &_action {
            cursor: pointer;
        }
        &-icon {
            min-width: fit-content;
        }
        &-body,&-controls {
            min-width: 0;
            height: 100%;
            display: flex;
            align-items: center;
            gap: 10px;            
        }
        &-body_edit {
            align-items: flex-start;
        }
        &-controls_edit {
            align-items: flex-start;
            padding-top: 5px;
        }
        &-body_deleted>:last-child {
            flex-shrink: 0;
        }
    }
}
