.navigation-cluster-list {
    &__row td {
        padding: 0 !important;
    }

    &__item {
        &_active, &:hover {
            background-color: var(--g-color-base-simple-hover-solid);
        }
    }

    &__header {
        width: 100%;
    }

    .data-table__head-cell {
        width: 100%;
    }
}
