.scheduling-top-row-content {
    &__favourites {
        padding-right: 15px;
    }

    &__tree {
        width: 20ex;
    }

    &__tree-popup {
        z-index: var(--dialog-suggest-z-index) !important;
    }

    &__btn-spacer {
        padding-left: 8px;
        flex: 0 0 8px;
    }

    &__clipboard {
        padding-right: 15px;
    }

    &__breadcrumbs {
        margin: 0 8px 0 12px;
        flex-grow: 1;
        flex-shrink: 1;
        display: block;
    }

    &__pool-suggest {
        flex-grow: 1;
    }

    &__actions {
        display: flex;
        align-items: center;
    }

    &__extra-control {
        padding-right: 10px;
    }
}
