@forward './fonts';
@forward './common';

@use 'sass:list';
@use 'sass:map';
@use './common';

@mixin ellipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin text-label() {
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

// reset

@mixin reset-ul() {
    margin: 0;
    padding: 0;
}

@mixin reset-li() {
    list-style-type: none;
}

// font

@mixin yt-fonts() {
    font-family: var(--g-font-family-sans);
    font-size: var(--g-font-size);
    line-height: var(--g-line-height);
}

// heading

@mixin heading-size($key) {
    $sizes: (
        s: (
            16px,
            20px,
            common.$offset-heading-small,
        ),
        xs: (
            18px,
            20px,
            common.$offset-heading-small-x,
        ),
        m: (
            20px,
            24px,
            common.$offset-heading-medium,
        ),
        l: (
            24px,
            28px,
            common.$offset-heading-large,
        ),
        xl: (
            24px,
            28px,
            common.$offset-heading-large,
        ),
    );
    $size: map.get($sizes, $key);

    font-size: list.nth($size, 1);
    line-height: list.nth($size, 2);
    margin: 0;
    margin-bottom: list.nth($size, 3);
}

@mixin top-row-breadcrumbs() {
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0 16px;
}
