.query-tracker-meta-form {
    display: flex;
    align-items: center;

    &__control {
        margin-right: 8px;
        &_name {
            display: inline-flex;
            align-items: center;
        }
    }
}
