@mixin yt-login-page-dark {
    --login-background: #1a1a1a;
    --login-button-solid: #e9a43b;
    --login-button-solid-hover: #d28004;
    --login-background-image: url('../../../../../img/svg/YT-login-page-background-dark.svg');
    --login-button-loading-color-1: #e9a43b;
    --login-button-loading-color-2: #d28004;
}
