.yt-ai-chat-input {
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: 8px 0;
    background: var(--g-color-base-background);

    &__form {
        padding: 4px 8px;
        border: 1px solid var(--g-color-line-generic);
        border-radius: var(--g-border-radius-l);
    }

    &__scroll-button {
        position: absolute;
        top: -40px;
        right: 8px;
        background: var(--g-color-base-background);
    }
}
