.acl-manage {
    .yc-button {
        width: 100%;
        height: 38px;
    }

    &__modal {
        .yc-dialog-body {
            .yc-dialog-body {
                padding: 0;
            }
        }

        &_loading,
        &_error {
            .yc-dialog-body {
                min-height: 372px;

                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &_error {
            .yc-dialog-body {
                display: block;
            }
        }
    }
}
