.yt-chart-left-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 200px;
    overflow-y: auto;

    &__separator {
        border-bottom: 1px solid var(--g-color-line-generic);
    }
}
