@import '~@gravity-ui/uikit/styles/mixins';

.yc-item-selector {
    $_: &;

    --g-list-item-padding: 16px;
    --yc-list-height: 196px;

    display: flex;
    width: 100%;
    min-height: 200px;

    &__list {
        flex: 0 0 50%;
        padding-top: 8px;

        &:not(:last-child) {
            border-right: 1px solid var(--g-color-line-generic);
        }
    }

    &__list-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
        padding: 0 var(--g-list-item-padding);
        min-height: 24px;
    }

    &__list-title {
        @include text-accent;
    }

    &__item {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;

        &_active {
            #{$_}__item-select {
                display: block;
            }
        }
    }

    &__item-select {
        display: none;
    }

    &__item-text {
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: auto;
    }

    &__value-item {
        display: flex;
        align-items: center;
        width: 100%;
        overflow: hidden;

        &_active {
            #{$_}__value-item-remove {
                display: block;
            }
        }
    }

    &__value-item-text {
        flex: 1 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__value-item-remove {
        display: none;
    }
}
