.yt-segment-control {
    --yt-segment-item-padding: 38px;
    --yt-segment-background-color: unset;

    border-radius: 6px;
    padding: 20px 32px;

    background-color: var(--yt-segment-background-color);

    &_background_neutral-light {
        --yt-segment-background-color: var(--g-color-base-neutral-light);
    }

    &__item {
        &:not(:first-child) {
            padding-left: var(--yt-segment-item-padding);
        }

        &:not(:last-child) {
            &::after {
                content: '';
                display: block;
                position: relative;

                margin-left: var(--yt-segment-item-padding);

                width: 0;
                height: 100%;

                border-left: 1px solid var(--g-color-line-generic);
            }
        }
    }

    &__value {
        font-weight: var(--yt-font-weight-bold);
        padding-right: 4px;
    }

    &__link {
        margin-top: -1px;
    }
}
