.collapsible-table {
    .data-table {
        --data-table-header-vertical-padding: 12px;
        --data-table-cell-vertical-padding: 12px;
    }
}

.collapsible-table-cell {
    $level-margin: 20px;

    position: relative;

    display: flex;
    align-items: center;

    &_level_max {
        margin-left: $level-margin * 5;
    }

    &__value {
        padding-left: 34px;
    }

    &__toggler {
        position: absolute;
        top: 50%;
        left: 0;

        transform: translateY(-50%);
    }

    @for $i from 0 through 5 {
        &_level_#{$i} {
            margin-left: $level-margin * $i;
        }
    }
}
