@import '../../../styles/common';

.node-quad {
    position: relative;
    top: 2px;

    display: inline-block;

    width: $node-width;
    height: $node-width;
    border-radius: 2px;
    margin-right: $node-margin;
    margin-bottom: $node-margin;

    overflow: hidden;
    flex-shrink: 0;

    text-align: center;
    font-size: 0.65rem;
    font-weight: bold;

    color: var(--light-text);

    &_theme_online {
        background-color: var(--success-color);
    }

    &_theme_online-letter{
        background-color: var(--success-text);
    }
   

    &_theme_banned {
        background-color: var(--warning-color);
    }

    &_theme_banned-letter {
        background-color: var(--warning-text);
    }

    &_theme_offline {
        background-color: var(--danger-color);
    }

    &_theme_offline-letter{
        background-color: #CB3D2F;
    }

    &_theme_following {
        background-color: var(--info-color);
    }

    &_theme_mixed,
    &_theme_registered,
    &_theme_unregistered,
    &_theme_unknown,
    &_theme_nonvoting {
        background-color: var(--default-color);
    }
}
