.yt-graph-popup {
    --scale: calc(1 / var(--nv-graph-scale));
    transform-origin: 0 0;
    position: absolute;
    pointer-events: all;
    margin-left: 8px;
    opacity: 0;

    --left: calc(
        var(--yt-graph--hover-popup-geometry-x, 0) + var(--yt-graph--hover-popup-geometry-width, 0)
    );
    transform: translate3d(var(--left, 0), var(--yt-graph--hover-popup-geometry-y, 0), 0)
        scale(var(--scale));

    &_visible {
        opacity: 1;
    }

    &__details {
        height: auto;
    }

    .yt-detail-block__icon {
        max-height: 16px;
        max-width: 16px;
    }
}
