.yt-error-block {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: 30px 1fr 60px;
    /* stylelint-disable */
    grid-template-areas:
        'a b e'
        'a c d';
    /* stylelint-enable */

    padding: 20px;
    overflow: auto;

    border: 1px solid transparent;
    border-radius: 3px;

    &_type_info{
        color: var(--info-text);
        background-color: var(--info-background);
    }

    &_type_alert {
        color: var(--alert-text);
        background-color: var(--alert-background);
    }

    &_type_error {
        color: var(--error-text);
        background-color: var(--error-background);
    }

    &_top-margin {
        &_none {
            margin-top: unset !important;
        }
        &_half {
            margin-top: 10px !important;
        }
    }

    &_bottom-margin {
        margin-bottom: 20px;
    }

    &__icon {
        grid-area: a;
        padding-top: 7px;
    }

    &__heading {
        grid-area: b;

        font-size: 16px;
        line-height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__body {
        grid-area: c;
    }

    &__message {
        margin-bottom: 5px;
    }

    // TODO
    /*&__button {
      grid-area: d;

      display: flex;
      align-items: flex-end;
    }*/

    &__help {
        grid-area: e;

        display: flex;
        justify-content: flex-end;
    }
}
