.yt-my-permissions {
    padding-left: 32px;

    &__group {
        &:not(:first-child) {
            padding-left: 60px;
        }
    }

    &__icon {
        &_color_danger {
            color: var(--danger-text);
        }
        &_color_success {
            color: var(--success-text);
        }
    }
}
