.data-type-popup {
    &__container {
        display: inline-flex;
        align-items: center;
    }

    &__icon {
        margin-left: 6px;

        color: var(--g-color-text-hint);
    }

    &__tooltip-container {
            overflow-y: auto;

            max-height: 300px;
            margin-right: -16px;
            padding-right: 16px;
    }
}
