@use '../../styles/mixins';

.yt-preload-error {
    &__loading {
        text-align: center;
    }

    &__error {
        max-width: 504px;
        padding-top: 80px;
        margin-left: 80px;

        @media (min-width: mixins.$width-medium-screen) {
            margin-left: 120px;
        }

        @media (min-width: mixins.$width-large-screen) {
            margin-left: 240px;
        }
    }

    &__title {
        @include mixins.heading-size(l);
        margin-bottom: 20px;
        font-weight: var(--yt-font-weight-bold);
    }

    &__text {
        margin: 0;
        margin-bottom: 24px;
    }
}
