.yt-timeline-list {
    width: 100%;

    &__header {
        height: 24px;
    }

    &__row {
        padding: 0 var(--table-cell-horizontal-padding);
        height: 25px;
        width: 100%;
    }

    &__right-columns {
        display: grid;
        grid-gap: 8px;
        grid-template-columns: 1fr 16px 16px;

        &_header {
            grid-template-columns: 16px 16px;
        }
    }

    &__list {
        height: 100%;
    }
}
