.yt-flow-state-filters {
    &__control {
        width: 220px;

        &_narrow {
            width: 96px;
        }
    }

    &__key-group {
        padding: 12px;
        max-width: fit-content;
    }

    &__key-group-label {
        flex-shrink: 0;
        padding-top: 3px;
    }
}
