.column-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &_sortable {
        cursor: pointer;
    }

    &__label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex-shrink: 1;
    }

    &__tooltip {
        display: inline;
    }

    &__loader {
        width: 60px;
        margin-bottom: -5px;
    }

    &__page-counter {
        color: var(--secondary-text);
        font-weight: normal;
    }
}
