.widget-table {
    width: 100%;
    overflow: hidden;
}

.yt-widget {
    padding-bottom: 5px;
}

.table-widget-container{
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
