.yt-dashboard-widget {
    padding-bottom: 21px;

    .table-widget-container {
        height: 100%;
        overflow: auto scroll;
        position: relative;
        width: 100%;
        max-width: 100%;

        .widget-table {
            width: 100%;
            overflow: auto scroll;
            max-width: 100%;
        }

        .gt-table__header {
            position: sticky;
            top: 0;
            z-index: 2;
        }

        .gt-table__header-cell {
            background-color: var(--main-background);
        }

        .gt-styled-table__cell {
            background-color: var(--main-background);
        }
    }
}
