.upload-manager {
    &__help-link {
        padding-left: 10px;
    }

    &__confirm {
        margin-left: 10px;
    }

    .yc-dialog-footer {
        display: none;
    }

    &__progress {
        display: flex;
        align-items: center;

        &_hidden {
            visibility: hidden;
        }

        &-wrapper {
            flex-grow: 1;
        }
    }

    .yc-progress {
        margin: unset;
    }

    .df-dialog__field-wrapper {
        width: 400px;
    }

    .yc-dialog-body {
        padding: unset;
    }
}