@use '../../styles/redefinitions/common/Breadcrumbs.scss';
@use '../../styles/mixins.scss';

.yt-editable-breadcrumbs {
    padding-top: 2px;
    padding-bottom: 2px;
    overflow: hidden;

    &_view_top-row {
        @include mixins.top-row-breadcrumbs();
    }

    &__breadcrumbs-container {
        flex-grow: 1;
        flex-shrink: 1;
    }
}

.editable-as-text_edit {
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 16px;
}
