.yt-query-token-table {
    margin-left: -216px;
    margin-top: -14px;

    &__name {
        max-width: 100px;
    }

    &__path {
        max-width: 400px;
    }

    &__actions {
        margin-top: -4px;
    }
}
