.navigation-acl {
    $acl: &;

    position: relative;

    &_loading {
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__meta {
        & .meta-table__group {
            margin-bottom: 0px;
        }
    }

    &__acl-actions {
        flex-grow: 1;
        justify-content: end;
    }


    &__meta-item {
        margin-bottom: 20px;
        &_with-buttons {
            margin-right: 500px;
        }
    }

    &__flag-icon {
        padding-right: 0.5ex;
    }

    &__copy-idm-group {
        color: var(--secondary-text);
        margin-left: 1ex;
    }

    .data-table__row:not(:last-child) {
        border-bottom: 1px solid var(--g-color-line-generic);
    }

    &__toolbar {
        height: 0px;
        min-width: 1000px;

        &_has-columns {
            min-width: unset;
            height: unset;
            padding-bottom: 20px;
        }
    }

    &__spacer {
        flex-grow: 1;
    }

    &__sync-with-col-groups {
        visibility: hidden;
    }
}
