.switch-leader-short-info {
    &__state {
        text-transform: capitalize;

        &_state_complete {
            color: var(--success-color);
        }
    }

    &__value {
        text-transform: capitalize;
    }
}
