.query-new-button {
    display: inline-flex;
    align-items: center;

    &__default {
        margin-right: 1px;
    }
}

.query-language-selector-item {
    &__link {
        text-decoration: none;
        color: var(--yc-color-text-primary) !important;

        &:hover {
            color: var(--yc-color-text-primary) !important;
        }
    }
}

