.yt-multi-subjects {
    &__tags {
        display: flex;
        flex-wrap: wrap;
        margin-top: 5px;
    }

    &__tags-item {
        max-width: 100%;
        margin-bottom: 5px;
        margin-right: 5px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
