.navigation-error {
    flex-grow: 1;

    &__info {
        max-width: 650px;

        color: var(--g-color-text-complementary);
        font-size: 13px;
        font-weight: 400;
    }

    &__title {
        font-size: 17px;
        line-height: 24px;
        font-weight: 500;
        color: var(--g-color-text-primary);
        overflow-wrap: break-word;
    }

    &__unexpected-error {
        margin-top: 20px;
    }
}
