.qt-navigation-table {
    padding: 0 10px;

    &__content {
        margin-top: 8px;
        overflow-x: auto;
    }

    .data-table__value {
        position: relative;
    }

    .data-table__clipboard-button-wrapper {
        opacity: 0.3;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
    }
}
