@use '../../styles/mixins.scss';
@use '../../styles/redefinitions/common/Breadcrumbs.scss';
@use '../../styles/fonts.scss';

.tablet-top-row-content {
    &__breadcrumbs {
        @include mixins.top-row-breadcrumbs();
    }

    &__editable {
        @include fonts.font-body2;

        min-width: 40ex;
        color: var(--secondary-text);
        gap: 0 8px;
    }
}
