@import '../../styles/fonts.scss';

.tablet-top-row-content {

    &__editable {
        @include font-body2;

        min-width: 40ex;
        color: var(--secondary-text);
        gap: 0 8px;
    }
}
