@import '../../styles/yql-colors';

.yt-graph {
    &__graph {
        canvas.layer:nth-child(-n + 2) {
            background: var(--main-background);
        }
    }

    &__render-block {
        position: absolute;
        overflow: hidden;
        padding: 10px;
        border-radius: 8px;

        background-color: var(--g-color-base-generic-ultralight);

        &_selected {
            outline: 2px solid var(--g-color-line-brand);
            background-color: var(--hover-background);
        }
    }
}
