@import '../../styles/yql-colors';

.yt-graph {
    &__render-block {
        padding: 10px;
        border-radius: 8px;

        background-color: var(--g-color-base-float);

        &_selected {
            outline: 2px solid var(--g-color-line-brand);
            background-color: var(--hover-background);
        }

        &_background {
            &_success {
                background-color: var(--success-background);
            }
            &_info {
                background-color: var(--info-background);
            }
            &_warning {
                background-color: var(--alert-background);
            }
            &_danger {
                background-color: var(--danger-background);
            }
        }
    }

    &__toolbox {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }
}
