.query-status {
    display: inline-flex;
    align-items: center;

    &__icon-container {
        margin-right: 4px;

        &_draft {
            color: var(--color-status-icon-draft, var(--g-color-text-secondary));
        }

        &_completed {
            color: var(--color-status-icon-completed, var(--g-color-text-positive));
        }

        &_failed {
            color: var(--color-status-icon-error, var(--g-color-text-danger));
        }

        &_aborted {
            color: var(--color-status-icon-aborting, var(--g-color-text-secondary));
        }
    }

    &_tabs {
        margin-right: 0;
    }
}
