.g-breadcrumbs {
    &__item {
        color: var(--secondary-text);
    }
    &__link {
        &:hover {
            color: var(--hover-link) !important;
            cursor: pointer;
        }
        &_is-current {
            color: var(--primary-text);
            font-weight: 400;
        }
    }
}
