.yc-breadcrumbs__item {
    border-radius: 4px;
    &:hover {
        background-color: var(--g-color-base-simple-hover);
    }

    &_current {
        &:hover {
            background-color: unset;
        }
    }
}

.yc-breadcrumbs__item {
    min-width: 30px;
}

.yc-breadcrumbs__item_current {
    flex-shrink: 0;
}
