.g-root {
    font-size: 14px;
    line-height: 1.43;
    font-variant-numeric: tabular-nums;
}

.g-toast__content {
    word-break: break-word;
}

.gn-composite-bar_autosizer .gn-composite-bar-item__icon {
    color: var(--gn-aside-header-item-icon-color, var(--_--item-icon-color));
}

.gn-collapse-button .gn-collapse-button__icon {
    color: var(--g-color-text-secondary);
}
