.node-resources-limits {
    $meta-table: '.meta-table';

    #{$meta-table} {
        display: block;

        &-item {
            grid-gap: 10px 0;
            grid-template-columns: 180px 1fr;
        }
    }

    &__label {
        margin-bottom: 30px;
    }

    &__resources-override {
        display: flex;
        align-items: center;

        .elements-filter {
            margin-right: 10px;
            flex-basis: 75%;
        }

        .status-block {
            display: block;
            font-size: 1em;
            flex-basis: 25%;
            text-align: center;
        }
    }
}
