.query-history-item {
    cursor: pointer;
    position: relative;

    &:hover {
        background-color: var(--hover-background);
    }

    &_selected {
        background-color: var(--dark-background);
    }

    &__name {
        display: inline-flex;
        align-items: center;
        width: 100%;
        justify-content: flex-start;
    }

    &__name_row {
        max-width: 100px;
    }

    &__author_row {
        max-width: 120px;
    }

    &__name > &__status-icon {
        min-width: 16px;
        min-height: 16px;
    }

    &__name-edit {
        visibility: hidden;
        flex: 1px;
        overflow: hidden;
        z-index: 1;
        margin: -14px 0;
    }

    &:hover &__name-edit {
        flex: 1;
        padding-left: 5px;
        visibility: visible;
        width: auto;
        overflow: visible;
    }

    &_header {
        padding: 8px 0;

        &:hover {
            background: transparent;
            cursor: auto;
        }
    }

    &__separator {
        text-align: center;
    }
}

.queries-history-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1;

    &__filter {
        padding: 12px 12px 0;
        margin-bottom: 8px;
    }

    &__list-wrapper {
        flex: 1;
        overflow: auto;
        display: flex;
        flex-direction: column;

        .elements-table-wrapper {
            overflow: auto;
        }
    }

    &__list-wrapper > &__list {
        flex: 1;
    }

    &__pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 0;
    }
}
