.queries-history-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1;
    height: 100%;

    &__filter {
        padding: 12px 12px 0;
        margin-bottom: 8px;
    }

    &__pagination {
        padding: 8px 0;
    }
}
