.query-history-item {
    cursor: pointer;
    position: relative;

    &:hover {
        background-color: var(--hover-background);
    }

    &_selected {
        background-color: var(--dark-background);
    }

    &__action,
    &__name {
        display: inline-flex;
        align-items: center;
        width: 100%;
        justify-content: flex-start;
    }

    &__name_row {
        max-width: 100px;
    }

    &__author_row {
        max-width: 120px;
    }

    &__action_row {
        padding: 0 5px 0 0;
    }

    &__name > &__status-icon {
        min-width: 16px;
        min-height: 16px;
    }

    &__name-edit {
        visibility: hidden;
        overflow: hidden;
        z-index: 1;
        margin: -14px 0;
    }

    &:hover &__name-edit {
        visibility: visible;
        overflow: visible;
    }

    &_header {
        padding: 8px 0;

        &:hover {
            background: transparent;
            cursor: auto;
        }
    }

    &__separator {
        text-align: center;
    }
}
