.yt-u-breadcrumbs {
    gap: 0 1px;

    .g-breadcrumbs2__link {
        color: var(--secondary-text);

        &:hover {
            color: var(--hover-link);
            cursor: pointer;
        }

        &_is-current {
            color: var(--primary-text);
            font-weight: 400;
        }
    }
}
