.acl-update-message {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;

    &__link {
        margin: 0 3px;
    }

    &__subject {
        margin: 0 2px;
        overflow: hidden;
    }
}
