.system-nodes {
    .elements-heading {
        margin-bottom: 0;
    }

    &__group-summary {
        padding-left: 4px;
        padding-bottom: 20px;
    }

    &__expand-btn {
        margin-left: 8px;
        margin-right: 10px;
    }
}
