.system-nodes {
    .elements-heading {
        margin-bottom: 0;
    }

    .collapsible-section & {
        margin-top: 20px;
    }

    &__group-summary {
        padding-bottom: 10px;
    }

    &__node-type {
        padding-right: 10px;
    }
}
