.query-tracker-page {
    &__container {
        position: absolute;
        height: calc(100vh - var(--app-header-height) - var(--app-footer-height));
        width: 100%;
        top: 0;
        left: 0;
        overflow: visible;
        z-index: var(--query-editor-container-z-index);
    }

    &__loader {
        flex: 1 1 100%;
        justify-content: center;
    }
}
