.queries-tutorial-list {
    display: flex;
    flex-direction: column;
    overflow: auto;

    &__list {
        &_loading {
            flex: 0;
        }
    }

    &__filter {
        padding: 0 12px 8px;

        position: sticky;
        top: 0;
        z-index: 1;
    }
}

.query-tutorial-item {
    padding: 0 12px;
    cursor: pointer;

    &__link {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__icon {
        margin-right: 8px;
        color: var(--g-color-text-secondary);
    }
}
