.query-tracker-top-row {
    gap: 0 8px;

    &__name-input {
        flex: 150px 1;
        max-width: 120px;
        cursor: pointer;

        &.edit {
            width: 100%;
            max-width: 100%;
            cursor: inherit;
        }
    }
}
