@use '../../styles/mixins.scss';
@use '../../styles/redefinitions/common/Breadcrumbs.scss';

.tablet-cell-bundles-top-row-content {
    &__breadcrumbs {
        @include mixins.top-row-breadcrumbs();
    }

    &__extra-control {
        padding-left: 10px;
    }
}
