.system {
    &__chunks {
        margin-bottom: 20px;
        position: relative;
    }

    .chunk-cells {
        &__table {
            table-layout: fixed;
            &-item_type {
                &_cell-tag {
                    width: 70px;
                }
                &_foreign-chunks {
                    width: 70px;
                }
                &_overreplicated-chunks {
                    width: 120px;
                }
                &_underreplicated-chunks {
                    width: 130px;
                }
                &_quorum-missing-chunks {
                    width: 130px;
                }
                &_data-missing-chunks {
                    width: 105px;
                }
                &_parity-missing-chunks {
                    width: 115px;
                }
                &_lost-chunks {
                    width: 65px;
                }
                &_lost-vital-chunks {
                    width: 80px;
                }
                &_unsafely-placed-chunks {
                    width: 126px;
                }
                &_chunks {
                    width: 120px;
                }
            }
        }
    }

    .elements-table-wrapper_sticky_bottom {
        z-index: unset;
    }
}
