.yt-subject-link {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    overflow: hidden;

    &__name {
        flex-grow: 1;

        color: var(--primary-text);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            color: var(--danger-color);
        }
    }
}
