.yt-role-group {
    &__container {
        padding-bottom: 20px;
    }
    
    &__role-groups-container {
        display: flex;
        flex-direction: column;
        gap: 12px
    }

    &__name {
        color: var(--bluejeans-color);

        &>span {
            font-weight: 600;
        }
    }

    &__rack-nodes {
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
        margin-top: 20px;
    }

    .divider {
        width: 0.5px;
        height: 100%;
        background: var(--dark-divider);
    }

    display: flex;
    flex-direction: column; 
    width: 100%;
    min-height: 126px;
    height: fit-content;
    border-radius: 4px;
    overflow: hidden;

    padding: 16px 20px;
    border: 1px solid var(--dark-divider);

    &__progress {
        display: flex;
        overflow: hidden;
        height: 100%;
        
    }

    &__collapse-button {
        svg {
            transition: 0.2s;
            transform: rotate(-90deg);
        }

        &_collapsed {
            svg {
                transform: rotate(0deg);
            }
        }
    }

    &__progress-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

   
    &__progress-number {
        line-height: 20px;
    }

    &__bottom-info {
        color: var(--default-color);

        svg {
            width: 18px;
            height: 18px;
        }

        span {
            text-transform: uppercase;
        }
    }

    &__counters {
        display: grid;
        grid-template-columns: auto 1fr auto 1fr auto 1fr auto;
        row-gap: 4px;
    }

    &__status {
        display: inline-block;
    }

    &__status-color {
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 2px;
        margin-right: 4px;

        background-color: var(--yc-color-base-generic-medium);

        &_theme_online {
            background-color: var(--success-color);
        }

        &_theme_offline {
            background-color: var(--danger-color);
        }

        &_theme_alert {
            background-color: var(--warning-color);
        }

        &_theme_other {
            background-color: var(--info-color);
        }

        &_empty {
            background-color: var(--light-divider);
        }
    }

    &__status-label {
        text-transform: uppercase;
        line-height: 14px;
    }

    &__status-count {
        display: flex;
        align-items: center;
    }

    &__status-count-number {
        line-height: 14px;
    }
}
