@use '../../../../styles/yql-colors';

.yt-query-execution-view {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    min-height: 0;
    min-width: 0;

    &__toolbar {
        flex-shrink: 0;
        padding: 8px;
    }

    &__meta {
        flex: 1;
        min-width: 0;
    }

    &__panel {
        flex: 1;
        min-height: 0;
    }
}
