@use './common/common';
@use './common/link';
@use './common/icon';
@use './common/progress';
@use './common/illustrations';
@use './chartkit';
@use './DataTable';
@use './common/Breadcrumbs';
@use '../fonts/manrope.scss';
@use '../fonts/roboto-mono.scss';

.data-table {
    &__table {
        min-width: 100%;
    }

    &__td,
    &__th {
        max-width: 600px;
    }

    &__head-cell {
        font-weight: bold;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
