.yt-tag {
    background-color: var(--g-color-line-generic);
    padding: 2px 0 2px 8px;
    border-radius: 4px;

    display: flex;
    align-items: center;

    &__text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 5px;
    }

    &__remove {
        color: var(--g-color-text-secondary);
        cursor: pointer;

        &:hover {
            color: var(--g-color-text-primary);
        }
    }
}
