.scheduling-pool-tags {
    justify-content: flex-end;

    overflow: hidden;

    &__tag {
        margin-right: 1ex;
        flex-shrink: 1;

        overflow: hidden;
        text-overflow: ellipsis;
        &:last-child {
            margin-right: 0;
        }
    }
}
