.yt-scheduling-table {
    min-width: 100%;

    tr {
        height: 48px;
    }

    &__edited-number {
        &_autocalculated {
            color: var(--g-color-text-secondary);
        }
    }

    &__name-content {
        margin: -10px 0;
    }

    &__share-usage {
        width: 100%;
    }
}
