.yt-scheduling-table {
    tr {
        height: 48px;
    }

    &__row_highlighted {
        background-color: var(--g-color-base-generic);
    }

    &__edited-number {
        &_autocalculated {
            color: var(--g-color-text-secondary);
        }
    }

    &__name-content {
        margin: -10px 0;
    }

    &__share-usage {
        width: 100%;
    }

    &__duration {
        white-space: nowrap;
    }

    &__footer {
        .gt-table__footer-row {
            height: 48px;
        }
        .gt-table__footer-cell {
            --yt-table-background-color: var(--g-color-base-generic-ultralight);
            background-color: var(--yt-table-background-color);
        }
    }
}
