.query-widget {
    flex: 1;
    z-index: var(--query-editor-container-z-index);
    overflow: visible;
    display: flex;
    flex-direction: column;
    background: var(--main-background);
    width: 100%;
    height: 100%;

    &__header {
        display: flex;
        min-height: 52px;
        align-items: center;
        padding: 0 12px;
        border-bottom: 1px solid var(--dark-divider);
    }

    &__header &__control:not(:last-child) {
        margin-right: 8px;
    }

    &__header-controls {
        flex: 1;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }

    &__header-control-right {
        flex: 1 0;
        display: flex;
        justify-content: flex-end;
    }

    &__meta-form {
        margin-right: 12px;
    }

    .flex-split__pane:nth-child(1) {
        overflow: visible;
    }
}
