@use '../../styles/mixins.scss';

.yql-schema-table {
    $schema: &;

    --_yql-schema-table_name-width: var(--yql-schema-table_name-width, auto);

    &__item {
        display: inline-flex;

        width: 100%;

        &:hover {
            #{$schema}__insert-icon {
                opacity: 1;
            }
        }
    }

    &__sort-icon {
        margin-right: 8px;

        color: var(--g-color-text-primary);
    }

    &__name {
        overflow: hidden;

        max-width: var(--_yql-schema-table_name-width);
        margin-right: 10px;

        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__insert-icon {
        margin-left: auto;

        opacity: 0;
        color: var(--g-color-base-generic-medium-hover);

        transition: opacity 0.1s linear;
    }

    .data-table {
        &__th {
            @include mixins.sticky-data-table-head();
        }
    }
}
