.chyt-page-clique {
    min-width: 900px;

    &__header {
        display: flex;
        margin-top: 10px;
        align-items: center;

        margin-bottom: 20px;
    }

    &__loader,
    &__header-operation-state {
        padding: 0 1em;
    }

    &__header-start,
    &__header-remove {
        padding: 0 1ex;
    }

    &__tabs,
    &__error {
        margin-bottom: 20px;
    }

    &__operation-id {
        display: inline-block;
        min-width: 280px;
    }

    &__spacer {
        flex-grow: 1;
    }

    &__edit {
        padding-left: 1ex;
    }
}
