.g-label {
    --_--bg-color: var(--g-color-base-neutral-light) !important;
    --_--bg-color-hover: var(--g-color-base-neutral-light-hover) !important;
    --_--text-color: var(--g-color-text-complementary) !important;
}